*{
    padding: 0;
    margin: 0;
}
.todoCards{
    padding: 1em;
}

#todoCards{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
#btn{
    margin : 20px; 
    color : white;
    background-color : red;
    }
#count{
    padding-left: 10px;
    color: blue;
}
